header-footer:
  enabled: true
  header:
    - ""
    - "&&x&0&8&E&7&F&B&l‹&x&1&7&E&4&F&B&lꜱ&x&2&6&E&1&F&B&lᴇ&x&3&5&D&E&F&C&lʀ&x&4&4&D&B&F&C&lᴠ&x&5&3&D&8&F&C&lᴇ&x&6&2&D&5&F&C&lʀ&x&7&1&D&2&F&C&lɴ&x&8&0&C&F&F&C&lᴀ&x&8&F&C&C&F&D&lᴍ&x&9&E&C&9&F&D&lᴇ&x&A&D&C&6&F&D&l›"
    - ""
    - "&f¡Comparte nuestra IP a tus amigos!"
    - "&3&o&x&0&8&E&7&F&B‹&x&1&7&E&4&F&Bꜱ&x&2&6&E&1&F&Bᴇ&x&3&5&D&E&F&Cʀ&x&4&4&D&B&F&Cᴠ&x&5&3&D&8&F&Cᴇ&x&6&2&D&5&F&Cʀ&x&7&1&D&2&F&Cɴ&x&8&0&C&F&F&Cᴀ&x&8&F&C&C&F&Dᴍ&x&9&E&C&9&F&Dᴇ&x&A&D&C&6&F&D›"
    - ""
  footer:
    - ""
    - "&3₪ &fDiviertete jugando en nuestro &bservidor &3₪"
    - "&7Unete a la comunidad: &ddiscord.gg"
    - ""
    - "&f¡Compra &erangos&f, &cbeneficios&f y más!"
    - "&x&0&8&E&7&F&B‹&x&1&2&E&5&F&Bꜱ&x&1&D&E&3&F&Bᴇ&x&2&7&E&1&F&Bʀ&x&3&1&D&F&F&Cᴠ&x&3&C&D&D&F&Cᴇ&x&4&6&D&B&F&Cʀ&x&5&0&D&9&F&Cɴ&x&5&B&D&7&F&Cᴀ&x&6&5&D&4&F&Cᴍ&x&6&F&D&2&F&Cᴇ&x&7&9&D&0&F&C.&x&8&4&C&E&F&Dꜱ&x&8&E&C&C&F&Dʜ&x&9&8&C&A&F&Dᴏ&x&A&3&C&8&F&Dᴘ&x&A&D&C&6&F&D›"
  disable-condition: '%world%=disabledworld'
  per-world:
    world1:
      header:
      - an example of world with custom
      footer:
      - header/footer and prefix/suffix
    world2;world3:
      header:
      - This is a shared header for
      - world2 and world3
  per-server:
    server1:
      header:
      - an example of server with custom header
tablist-name-formatting:
  enabled: true
  anti-override: true
  disable-condition: '%world%=disabledworld'
scoreboard-teams:
  enabled: true
  enable-collision: true
  invisible-nametags: false
  anti-override: true
  sorting-types:
  - GROUPS:
  - PLACEHOLDER_A_TO_Z:%player%
  case-sensitive-sorting: true
  can-see-friendly-invisibles: false
  disable-condition: '%world%=disabledworld'
  unlimited-nametag-mode:
    enabled: false
    disable-on-boats: true
    disable-condition: '%world%=disabledworld'
    dynamic-lines:
    - abovename
    - nametag
    - belowname
    - another
    static-lines:
      myCustomLine: 0.66
playerlist-objective:
  enabled: true
  value: '%ping%'
  fancy-value: '&7Ping: %ping%'
  disable-condition: '%world%=disabledworld'
belowname-objective:
  enabled: false
  number: '%health%'
  text: '&cHealth'
  fancy-display-players: '&c%health%'
  fancy-display-default: NPC
  disable-condition: '%world%=disabledworld'
prevent-spectator-effect:
  enabled: false
bossbar:
  enabled: true
  toggle-command: /bossbar
  remember-toggle-choice: false
  hidden-by-default: false
  bars:
    ServerInfo:
      style: PROGRESS
      color: '%animation:barcolors%'
      progress: '100'
      text: '&fAtt: &#08E7FB@&#17E4FBz&#26E1FBB&#35DEFCl&#44DBFCa&#53D8FCc&#62D5FCk&#71D2FCD&#80CFFCe&#8FCCFDm&#9EC9FDo&#ADC6FDn'
scoreboard:
  enabled: true
  toggle-command: /sb
  remember-toggle-choice: false
  hidden-by-default: false
  use-numbers: false
  static-number: 0
  delay-on-join-milliseconds: 0
  respect-other-plugins: true
  scoreboards:
    scoreboard:
      title: '&x&0&8&E&7&F&B&l<&x&1&7&E&4&F&B&lS&x&2&6&E&1&F&B&lE&x&3&5&D&E&F&C&lR&x&4&4&D&B&F&C&lV&x&5&3&D&8&F&C&lE&x&6&2&D&5&F&C&lR&x&7&1&D&2&F&C&lN&x&8&0&C&F&F&C&lA&x&8&F&C&C&F&D&lM&x&9&E&C&9&F&D&lE&x&A&D&C&6&F&D&l>'
      lines:
       - '  &7⌚ %localtime_time%'
       - ''
       - ' &fNombre: &a%player_name%'
       - ' &fRango: %changeoutput_equals_input:default_matcher:{vault_rank}_ifmatch:&c¡Adquierelo!_else:{vault_prefix}%'
       - ''
       - ' &x&0&8&E&7&F&B🪣 &fCajas: &x&0&8&E&7&F&B0'
       - ' &7🌧 &fPolvos: &70'
       - ' &x&0&8&E&7&F&B✈ &fCabezas: &x&0&8&E&7&F&B0/20'
       - ''
       - ' &fLobby: &x&0&8&E&7&F&B#1'
       - ' &fConectados: &a%bungee_total%'
       - ''
       - '   &x&0&8&E&7&F&B‹&x&1&2&E&5&F&Bꜱ&x&1&D&E&3&F&Bᴇ&x&2&7&E&1&F&Bʀ&x&3&1&D&F&F&Cᴠ&x&3&C&D&D&F&Cᴇ&x&4&6&D&B&F&Cʀ&x&5&0&D&9&F&Cɴ&x&5&B&D&7&F&Cᴀ&x&6&5&D&4&F&Cᴍ&x&6&F&D&2&F&Cᴇ&x&7&9&D&0&F&C›'
layout:
  enabled: false
  direction: COLUMNS
  default-skin: mineskin:1753261242
  enable-remaining-players-text: true
  remaining-players-text: '... and %s more'
  empty-slot-ping-value: 1000
  layouts:
    default:
      fixed-slots:
      - '1|&3Website&f:'
      - 2|&bmyserver.net
      - '3|&8&m                       '
      - '4|&3Name&f:'
      - 5|&b%player%
      - '7|&3Rank&f:'
      - '8|Rank: %group%'
      - '10|&3World&f:'
      - 11|&b%world%
      - '13|&3Time&f:'
      - 14|&b%time%
      - '21|&3Teamspeak&f:'
      - 22|&bts.myserver.net
      - '23|&8&m                       '
      - '41|&3Store&f:'
      - 42|&bshop.myserver.net
      - '43|&8&m                       '
      groups:
        staff:
          condition: permission:tab.staff
          slots:
          - 24-40
        players:
          slots:
          - 44-80
ping-spoof:
  enabled: false
  value: 0
placeholders:
  date-format: dd.MM.yyyy
  time-format: '[HH:mm:ss / h:mm a]'
  time-offset: 0
placeholder-output-replacements:
  '%essentials_vanished%':
    'yes': '&7| Vanished'
    'no': ''
  '%essentials_nickname%':
    '%essentials_nickname%': '%player%'
conditions:
  nick:
    conditions:
    - '%player%=%essentials_nickname%'
    true: '%player%'
    false: ~%essentials_nickname%
placeholderapi-refresh-intervals:
  default-refresh-interval: 500
  '%server_uptime%': 1000
  '%server_tps_1_colored%': 1000
  '%server_unique_joins%': 5000
  '%player_health%': 200
  '%player_ping%': 1000
  '%vault_prefix%': 1000
  '%rel_factionsuuid_relation_color%': 1000
assign-groups-by-permissions: false
primary-group-finding-list:
- Owner
- Admin
- Mod
- Helper
- default
debug: false
mysql:
  enabled: false
  host: 127.0.0.1
  port: 3306
  database: tab
  username: user
  password: password
per-world-playerlist:
  enabled: false
  allow-bypass-permission: false
  ignore-effect-in-worlds:
  - ignoredworld
  - build
  shared-playerlist-world-groups:
    lobby:
    - lobby1
    - lobby2
    minigames:
    - paintball
    - bedwars
global-playerlist:
  enabled: false
  display-others-as-spectators: false
  display-vanished-players-as-spectators: true
  isolate-unlisted-servers: false
  spy-servers:
  - spyserver1
  - spyserver2
  server-groups:
    lobbies:
    - lobby1
    - lobby2
    group2:
    - server1
    - server2
use-bukkit-permissions-manager: false
use-online-uuid-in-tablist: true
